@model OnlineSatis.Models.DB.Urun
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ürün Düzenle</h2>

<div class="form">
    @*<form class="form-validate form-horizontal" id="feedback_form" method="post" action="/Blog/Create/" enctype="multipart/form-data">*@

    @using (Html.BeginForm("Edit", "Urunler", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <input class="form-control" id="UrunId" name="UrunId" type="hidden" value="@Model.UrunId" />
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Marka Adı <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="Adi" name="Adi" type="text" required value="@Model.Adi" />
            </div>
        </div>

        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">Açıklama <span class="required">*</span></label>
            <div class="col-lg-10">
                <textarea class="ckeditor" name="Aciklama">@Model.Aciklama</textarea>
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">Alış Fiyat <span class="required">*</span></label>
            <div class="col-lg-10">
                <textarea class="form-control" name="Alis">@Model.AlisFiyat</textarea>
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">Satiş Fiyat <span class="required">*</span></label>
            <div class="col-lg-10">
                <textarea class="form-control" name="Satis">@Model.SatisFiyat</textarea>
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">Kategori <span class="required">*</span></label>
            <div class="col-lg-10">
                @Html.DropDownList("Kategoriler", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">Marka <span class="required">*</span></label>
            <div class="col-lg-10">
                @Html.DropDownList("Markalar", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group ">
            <label for="curl" class="control-label col-lg-2">Resim </label>
            <div class="col-lg-10">
                <input id="resimler" type="file" class="form-control " name="ResimURL" multiple accept=".jpg,.png.,.jpeg" />
                <br />
                <button class="btn btn-primary" type="button" onclick="AddImg();">Resim Ekle</button>
                <button class="btn btn-default" type="button" onclick="RemoveImg();">Resim Çıkart</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <br /> 
                <button class="btn btn-primary" type="submit">Güncelle</button>
                <button class="btn btn-default" type="button"><a href="/Urunler/Index">İptal</a></button>
            </div>
        </div>
    }

    @*</form>*@
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>

    function AddImg() {
            
        var formData = new FormData();
        var urunId = $('#UrunId').val();
        formData.append('file', $('#resimler')[0].files[0]);
        $.ajax({
            type: 'post',
            url: '/Urunler/ResimEkle?urunId=' + urunId,
            data: formData ,
            success: function (status) {
                alert(status);
                //if (status != 'error') {
                //    var my_path = "MediaUploader/" + status;
                //    $("#myUploadedImg").attr("src", my_path);
                //}
            },
            processData: false,
            contentType: false,
            error: function () {
                alert("Whoops something went wrong!");
            }
        });
    }
</script>
